.trl-main-view {
    background-image: url(../images/hotel1.jpeg);
    min-height: 1024px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trl-search-form {
    padding: 10px 0px 10px 0px;
    background: rgba(255,255, 255, 0.5); 
}

.trl-search-form label {
    padding: 20px 10px 20px 30px;
    font-size: large;
    font-weight: 900;
}

.trl-search-form input {
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.trl-search-form select {
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.trl-search-form button {
    margin-left: 20px;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.trl-search-form-gcount {
    max-width: 60px;
    margin-right: 30px;
}

.trl-empty-space {
    padding: 100px;
}