.trl-hotel-view {
    background-image: url(../images/room.jpeg);
    min-height: 1024px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trl-h {
    color: white;
}